@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:wheat;
}


*{
    scrollbar-width: thin;
    scrollbar-color: rgba(141, 240, 12, 0.856) transparent;
}

*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track{
    background:transparent;
}
*::-webkit-scrollbar-thumb{
    background: rgba(141, 240, 12, 0.856);
    border-radius: 2px;
    border: transparent;
}